.container{
    display:flex;
    flex-direction: column;
    text-align: center;
}

.title{
    font-size: 2em;
    font-family: 'Saira Stencil One', cursive;
    display: inline-block;
}

.formBody{
    font-family: Arial, Helvetica, sans-serif;
}

#results{
    font-size: 4em;
    background-color: grey;
}

.buttonBar{
    justify-content: space-around;
}